body {
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 300;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.container {
  padding: 24px 12px;
  margin: 0 auto;
}

li {
  line-height: 20px;
  word-wrap: break-word;
}

.clear-all {
  padding: 15px 0;
}

button {
  margin: 0 auto;
  background-color: #e0e0e0;
  font-size: 15px;
  cursor: pointer;
}

.checkbox {
  margin: 0 10px 0 2px;
  font-weight: bold;
}

.todo-list {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.add-task-text {
  font-style: italic;
}

.refresh {
  margin-right: 10px;
}

.more {
  float: right;
}

input[type='text' i] {
  font-size: 15px;
}

.edit-task {
  margin-right: 8px;
  margin-left: 2px;
}

input:focus {
  outline: none;
}

.edit-input {
  width: 75%;
}

/* utility classes */

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.bg-white {
  background-color: #fff;
}

.bg-yellow {
  background-color: rgba(247, 247, 187, 1);
}

.align-center {
  align-self: center;
}

.bg-light-gray {
  background-color: #f6f6f6;
}

.justify-content-ctr {
  justify-content: center;
}

.justify-spc-btw {
  justify-content: space-between;
}

.px-10-py-15 {
  padding: 15px 10px;
}

.py-15 {
  padding: 15px 0;
}

.text-gray {
  color: #555;
}

.border-none {
  border: none;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.m-none {
  margin-block-start: 0;
  margin-block-end: 0;
}

.mr-6 {
  margin-right: 6px;
}

.ft-20 {
  font-size: 20px;
}

.mb-5 {
  margin-bottom: 2px;
}

.no-pad {
  padding: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.true {
  display: initial;
}

.false {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 10% 20%;
    width: 582px;
  }
}
